* {
    box-sizing: border-box;
} 
.container{
	padding: 95px 18px;
    text-align: center;
    width: 1000px;
    margin: -11px auto;
}
.col-md-12{
	
}
.h1 {
	text-align: center;
	margin: 10px;
}
.text{
	background: grey;
}
h1{
	color: #324d5b;
    font-size: 30px;
    font-weight: normal;
    line-height: 40px;
    margin: 0 0 30px;
}
li h3{
    margin: 0;
    color: #2b414d;
    font-size: 18px;
    line-height: 19px;
    text-transform: uppercase;
    padding-bottom: 5px;
}
p {
    margin: 30px 0 90px;
    color: #6a6a6a;
    font-size: 17px;
    line-height: 26px;
}
li{
	display: inline-block;

}
li p{
    margin: 17px;
    color: dimgrey;
    font-size: 14px;
    line-height: 21px;
}
li h3 ::after{
	content: "";
    display: block;
    width: 22px;
    height: 2px;
    background-color: #CDD2FE;
    margin: 23px auto;
}
.col-md-4v{
	width:220px;
}
.thumbnail{
	border:solid white;
	margin-left: -10px;
}

.content{
	margin: 4px auto;
}
img{
	margin-bottom: 37px;
}
